#products_heading {
  margin-top: 1.8rem;
}

.card {
  height: 100%;
}

.card-title a {
  color: #2e2e2e;
}

.card-title a:hover {
  color: #f5ac4d;
  text-decoration: none;
}

.card-body {
  padding-left: 0;
}

.card-text {
  font-size: 1.4rem;
}

.card-img-top {
  width: 200px;
  height: 150px;
}

.ratings {
  font-size: 1.2rem;
  color: #fdcc0d;
}

#no_of_reviews {
  font-size: 0.85rem;
  color: grey;
  margin-left: 0.5rem;
}

/* .row {
  -webkit-text-size-adjust: 100%;
  font-size: 14px;
  line-height: 20px;
  color: #0f1111;
  font-family: "Amazon Ember", Arial, sans-serif;
  -webkit-box-direction: normal;
  box-sizing: border-box;
  margin-bottom: 0 !important;
} */
