.product_title {
  color: grey;
  font-size: 0.8rem;
}

#product_image {
  margin-top: 2rem;
  margin-left: 4rem;
}

#product_id {
  color: grey;
  font-size: 0rem;
}

.rating-outer {
  display: inline-block;
  position: relative;
  font-family: FontAwesome;
  color: #fdcc0d;
}

.rating-outer::before {
  content: "\f006 \f006 \f006 \f006 \f006";
}

.rating-inner {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
}

.rating-inner::before {
  content: "\f005 \f005 \f005 \f005 \f005";
  color: #f8ce0b;
}

.name {
  font-weight: bold;
}

#des {
  font-weight: bold;
}

.form {
  background-color: #f2f2f2;
  width: 100%;
  margin-left: 50%;
  height: 120px;
}

.price {
  margin-left: 15%;
}

.paragraph {
  font-weight: lighter;
}

#product_price {
  font-size: 2rem;
  margin-top: 10rem;
  font-size: medium;
  margin-right: 10%;
}

#bid_button {
  background-color: #f5ac4d;
  padding: 0.4rem 1.8rem;
  font-family: calibri;
}
.stockCounter input {
  border: none;
  width: 3rem;
  text-align: center;
}

.plus,
.minus {
  padding: 0.1rem 0.5rem;
}

.stockCounter input::-webkit-outer-spin-button,
.stockCounter input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.form-control:disabled,
.form-control[readonly] {
  background-color: white;
}

#cart_btn,
#review_btn {
  border-radius: 2rem;
  background-color: #f5ac4d;
  border: none;
  padding: 0.5rem 2rem;
}

#stock_status {
  font-size: 1.1rem;
  font-weight: bold;
  margin-left: 0.3rem;
}

#product_seller {
  color: grey;
  font-size: 0.9rem;
}

.stars {
  height: 100px;
  display: flex;
  align-items: center;
  padding-left: 0;
}

#no_of_reviews {
  font-size: 0.85rem;
  color: grey;
  margin-left: 0.5rem;
}

ratings {
  font-size: 1.2rem;
  color: #fdcc0d;
}

.stars {
  height: 100px;
  display: flex;
  align-items: center;
  padding-left: 0;
}

.star {
  display: inline;
  list-style: none;
  font-size: 3rem;
  padding-left: 0.9rem;
  color: #e3e3e3;
}

.star:first-child {
  padding-left: 0;
}

.orange {
  color: #f5ac4d;
}

.yellow {
  color: #fdcc0d;
}

.review_user {
  font-size: 0.8rem;
  color: grey;
}
